body {
  display: flex;
  margin: 5% 5% 0% 5%;
  width: 800px;
  height: 800px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 5px solid grey;
}

p {
  padding-top: 20px;
  font-size: 40px;
}
